
    .footer{
        margin-top: 5em;
        text-align: center;
        background: #131313;
        padding: 2.5em 0;
    }
    .footer-links {
        background: #131313;
        padding: 2.5em 0;
    }
    .footer-links-social {
        margin-bottom: 1.5em;
        
        li{
        
                display: inline-block;
                margin: 0 3px;
                background: #333;
                border-radius: 50%;

                height: 40px;
                padding: 12px;
                text-align: center;
                width: 40px;
            .fas, .fab{
                color: #fff;
            }
            
        }
    }
    .footer-links-menu{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 24px;
        li{
            display: inline-block;
            a{
                color: #aaa;
                font-family: $font-primary;
            }
        }
        
    }

    .footer-legal{
        display: none;
    }
    @media(min-width:480px){
        
    .footer-legal{
        background: #000;
    color: #aaa;
    font-size: 13px;
   padding: 2.5em 0;
    display: contents;
    a{
        display: inline flow-root list-item;
    }
    }

    .footer-legal-logoStackPath, .footer-legal-logoTNW {
        display: inline-block;
        height: 9px;
        margin-right: 1px;
        vertical-align: baseline;
    }
    

    }